.main {
    position: relative
}

.spin-container {
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    line-height: 60vh;
}

.inpselect {
    position: relative;
}

.inpselect-box {
    position: absolute;
    width: 100%;
    bottom: 40px;
    z-index: 22;
    max-height: 14rem;
    overflow-y: scroll;
}

.inpselect-box li {
    padding: .5rem .75rem;
}

