<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
        />
        <title>SXSH</title>
        <link href="./css/quick-menu.css" rel="stylesheet" />
        <link href="./css/bootstrap.min.css" rel="stylesheet" />
        <link href="./css/font-awesome.min.css" rel="stylesheet" />
        <link href="./css/cashier.css" rel="stylesheet" />
        <link rel="shortcut icon" href="./img/hello.ico" type="image/x-icon" />

        <script src="./js/vue.min.js"></script>
        <script src="./js/moment.min.js"></script>
        <script src="./js/jquery.min.js"></script>
        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/sweetalert2.all.js"></script>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"> -->
        <!-- <script src="./js/quick-menu.js"></script> -->
    </head>

    <body>
        <div class="" id="cashier">
            <table
                class="table table-responsive table-striped table-bordered w-100"
                style="white-space: nowrap; max-height: 600px"
            >
                <thead>
                    <tr class="table-info">
                        <th style="width: 18%" scope="col">商品条码</th>
                        <th style="width: 37%" scope="col">商品名称</th>
                        <th style="width: 8%" scope="col">规格</th>
                        <th style="width: 8%" scope="col">单价</th>
                        <th style="width: 8%" scope="col">现价</th>
                        <th style="width: 8%" scope="col">数量</th>
                        <th style="width: 10%" scope="col">小计</th>
                        <th style="width: 8%" scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, idx) in currentOrder" :key="idx">
                        <td>{{item.sBarCode}}</td>
                        <td>{{item.sName}}</td>
                        <td>{{item.sSpec}}</td>
                        <td class="text-danger">{{item.dPrice}}</td>
                        <td class="text-danger">{{item.dCurrentPrice}}</td>
                        <td class="text-info">{{item.iCount}}</td>
                        <td class="text-danger">
                            {{(+item.dCurrentPrice)*(+item.iCount)}}
                        </td>
                        <td class="">
                            
                            <button class="btn btn-sm btn-info" @click="increseCount(item)">
                                <i class="fa fa-plus-square-o" aria-hidden="true"></i> 
                            </button>
                             <button class="btn btn-sm btn-success" @click="decreseCount(item)">
                                <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" @click="removeItem(item)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="fixed-bottom border bottom-panel">
                <div class="panel-head d-flex justify-content-between">
                    <div
                        class="panel-title d-flex align-items-center justify-content-center"
                    >
                        共计
                        <span>{{Object.keys(currentOrder).length}}</span>
                        种
                        <span>{{Object.values(currentOrder).reduce((s, c) => s += (c.iCount), 0)}}</span>
                        件商品
                    </div>
                    <div
                        class="w-50 d-flex align-items-center justify-content-end"
                    >
                        <button
                            type="button"
                            class="btn btn-large btn-warning mx-2"
                            v-show="Object.keys(currentOrder).length"
                            @click="detachOrder()"
                        >
                            挂单
                        </button>
                        <button
                            type="button"
                            class="btn btn-large btn-danger mx-2"
                            v-show="!Object.keys(currentOrder).length"
                            onclick="location.href = 'order.html'"
                        >
                            取单
                        </button>
                        <button
                            type="button"
                            class="btn btn-large btn-info mx-2"
                            @click="showCreateModal('')"
                        >
                            新增
                        </button>
                        <button
                            type="button"
                            class="btn btn-large btn-success mx-2"
                            @click="currentOrder = {},syncUpdate()"
                        >
                            清空
                        </button>
                    </div>
                </div>
                <div
                    class="panel-foot alert-primary d-flex justify-content-between"
                >
                    <div class="panel-left border ml-4 mt-2">
                        <div class="input-group flex-nowrap" @click="showSearchModal(1)">
                            <input
                                class="form-control"
                                placeholder="条码/拼音/品名"
                            />
                            <div class="input-group-append" >
                                <button class="btn btn-info">
                                    <i class="fa fa-keyboard-o"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group flex-nowrap mt-2"   @click="showSearchModal(0)">
                            <input
                                class="form-control"
                                placeholder="输入价格无码收银"
                              
                            />
                            <div class="input-group-append">
                                <button class="btn btn-secondary">
                                    <i class="fa fa-keyboard-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div
                        class="panel-right border d-flex align-items-center justify-content-center"
                    >
                        <button
                            @click="toCheckout()"
                            class="bg-danger border-0 d-flex text-white d-block p-3 w-100"
                        >
                            <div>
                                <span style="font-size: 22px">收款</span
                                ><br /><kbd>[空格键]</kbd>
                            </div>
                            <div class="panel-price ml-4">￥{{totalPrice()}}</div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="searchModal" centered >
            <div class="modal-dialog">
                <div class="modal-content p-3">
                    <div class="input-group header">
                    <div class="input-group-prepend">
                        <span class="input-group-text">搜索</span>
                    </div>
                    <input class="form-control" placeholder="条码/拼音/品名" v-model="filter.keyword"  @input="search"/>
                    <div class="input-group-append">
                        <button class="btn btn-info" @click="search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                    <table
                    class="table table-responsive table-striped table-bordered w-100 mt-2"
                    style="height: 450px;white-space: nowrap; "
                >
                    <thead>
                        <tr class="table-info">
                            <th style="width:32px" scope="col">条码</th>
                            <th style="width:15%" scope="col">名称</th>
                            <th style="width:15%" scope="col">规格</th>
                            <th style="width:15%" scope="col">单价</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, idx) in list" :key="idx" @click="togglePreSelect(item)" :class="{'bg-primary': preSelectOrder.indexOf(item) >= 0}">
                            <td style="width:32px;text-overflow:ellipsis">{{item.sBarCode}}</td>
                            <td style="text-overflow:ellipsis">{{item.sName}}</td>
                            <td style="text-overflow:ellipsis">{{item.sSpec}}</td>
                            <td class="text-danger">{{item.dPrice}}</td>
                        </tr>
                    </tbody>
                    </table>
                <div class="text-right">
                    <button
                        data-dismiss="modal" 
                        aria-label="Close"
                        class="swal2-cancel swal2-styled d-inline-block mr-1"
                    >
                        取消
                    </button>
                    <button class="swal2-confirm swal2-styled d-inline-block" @click="joinCurrentOrder">
                        加入
                    </button>
                </div>
                </div>
            </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="createModal" centered >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe
                        id="createFrame"
                        style="height: 600px"
                        target="parent"
                        frameborder="0"
                        width="100%"
                        target="parent"
                        data="1"
                        title="static_html"
                        src=""
                    ></iframe>
                    <div class="text-right">
                        <button
                            data-dismiss="modal" 
                            aria-label="Close"
                            class="swal2-cancel swal2-styled d-inline-block mr-1"
                        >
                            取消
                        </button>
                        <button
                            class="swal2-confirm swal2-styled d-inline-block"
                            @click="commitCreateGoods"
                        >
                            添加
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./lib/goods.js"></script>
        <script src="./lib/common.js"></script>
        <script src="./lib/quicknav.js"></script>
        <script>
            let vm = new Vue({
                el: "#cashier",
                data: {
                    total: {
                        kindCount: 6,
                        itemCount: 12,
                        price: 72,
                    },
                    list: [],
                    timer: 0,
                    typeList: [],
                    filter: {
                        type: "",
                        keyword: "",
                    },
                    preSelectOrder: [],
                    collapseType: false,
                    currentOrder: {},
                },
                computed: {
                },
                created() {
                    let barcode = ""
                    document.body.addEventListener("keydown", (e) => {
                        if (document.activeElement.tagName !== "INPUT") {
                            if (!this.timer) {
                                barcode = ""
                            }

                            if (e.key.length === 1) {
                                barcode += e.key
                            }

                            this.timer = this.debounce(() => {
                                this.timer = 0

                                if (e.key === "Enter") {
                                    this.join(barcode)
                                }
                            }, this.timer)
                        }
                    })
                    this.loadGoods()
                    this.loadOrder()
                    this.loadCurrentOrder()
                    this.list = this.goods
                    this.typeList = this.getTypeList()
                },
                mounted() {
                    $('[data-toggle="tooltip"]').tooltip()
                    $(".collapse").collapse("hide")
                },
                methods: {
                    syncUpdate(){
                        let order = {
                            id: moment().unix(),
                            createTime: moment().format("YYYY-MM-DD hh:mm:ss"),
                            goods: this.currentOrder,
                        }

                        if (!order.goods.length) {
                            localStorage.removeItem('currentOrder')
                        } else {
                            localStorage.setItem('currentOrder', JSON.stringify())
                        }
                        this.$forceUpdate(); 
                    },
                    showSearchModal(hasCode) {
                        this.filter.type = hasCode ? '' : '无条码'
                        this.search()
                        $('#searchModal').modal('show')
                    },
                    showCreateModal(barcode = "") {
                        $('#createModal').modal('show')
                        $('#createModal iframe').prop('src', `./create.html?barcode=${barcode}`)
                    },
                    toggleCollapse($event) {
                        $(".collapse").collapse("toggle")
                    },
                    clear() {
                        this.filter.keyword = []
                        this.list = []
                        this.$forceUpdate()
                    },
                    join(barcode) {
                        let good = this.goods.find(
                            (good) => good.sBarCode === barcode,
                        )
                        if (!good) {
                            this.showCreateModal(barcode)
                            return;
                        }

                        const fetchGoods = this.goods.find((good) => good.sBarCode === barcode)
                        if (this.currentOrder[fetchGoods.sBarCode]) {
                            this.currentOrder[fetchGoods.sBarCode].iCount++;
                        } else {
                            this.currentOrder[fetchGoods.sBarCode] = {
                                sBarCode: fetchGoods.sBarCode ,
                                sName: fetchGoods.sName ,
                                dPrice: fetchGoods.dPrice ,
                                dCurrentPrice:fetchGoods.dPrice ,
                                iCount: 1,
                            }
                        }
                        
                        this.$forceUpdate();
                    },
                    totalPrice() {
                        return Object.values(this.currentOrder).reduce(
                            (sum, cur) => sum + cur.dCurrentPrice * cur.iCount,
                            0,
                        )
                    },
                    search() {
                        this.list = this.filter.type ? this.goods.filter(g => g.sType === this.filter.type) : this.goods
                        if (this.filter.keyword) {
                            let checkField = "sPinyin"
                            if (!isNaN(this.filter.keyword)) {
                                checkField = "sBarCode"
                            } else if (
                                /[\u4e00-\u9fa5]+/.test(this.filter.keyword)
                            ) {
                                checkField = "sName"
                            }

                            this.list = this.list.filter(
                                (g) =>
                                    g[checkField]
                                        .toString()
                                        .toLowerCase()
                                        .indexOf(this.filter.keyword) >= 0,
                            )
                        }

               
                        this.$forceUpdate()
                    },
                    async dropGoods(item) {
                        await this.toast.confirm("确定删除该商品吗", "删除确认")
                    },
                    commitCreateGoods() {
                        $('#createFrame')[0].contentDocument.documentElement.querySelector('#commitBtn').click()
                        $('#createModal').modal('hide');
                        this.loadGoods();
                    },
                    removeItem(item) {
                        const barcode = item.sBarCode;
                        delete this.currentOrder[barcode]
                        this.syncUpdate();
                    },
                    increseCount(item){
                        const barcode = item.sBarCode;
                        this.currentOrder[barcode].iCount++
                        this.syncUpdate();
                    },
                    decreseCount(item){
                        const barcode = item.sBarCode;
                        if (this.currentOrder[barcode].iCount<=1) {
                            return;
                        }
                        this.currentOrder[barcode].iCount--
                        this.syncUpdate();
                          
                    },
                    togglePreSelect(item){
                        let idx = -1;
                        if ( (idx = this.preSelectOrder.indexOf(item)) >= 0) {
                            this.preSelectOrder.splice(idx, 1)
                        } else {
                            this.preSelectOrder.push(item)
                        }
                    },
                    joinCurrentOrder(){
                        this.preSelectOrder.forEach(item => {
                            if (this.currentOrder[item.sBarCode]) {
                                this.currentOrder[item.sBarCode].iCount++;
                            } else {
                                this.currentOrder[item.sBarCode] = {
                                    sBarCode: item.sBarCode ,
                                    sName: item.sName ,
                                    dPrice: item.dPrice ,
                                    dCurrentPrice:item.dPrice ,
                                    iCount: 1,
                                }
                            }
                        });
                        this.preSelectOrder = [];
                        Swal.fire({
                            icon: 'success',
                            title: '加入成功',
                            showConfirmButton: false,
                            timer: 700
                        })
                        $('#searchModal').modal('hide');
                    },
                    detachOrder(){
                        this.order.unshift({
                            id: moment().unix(),
                            createTime: moment().format("YYYY-MM-DD hh:mm:ss"),
                            goods: this.currentOrder,
                        });
                        localStorage.setItem('order', JSON.stringify(this.order))
                        localStorage.setItem('currentOrder', '')
                        this.currentOrder = {}
                        this.$forceUpdate();
                    },

                    toCheckout(){
                        if (!this.totalPrice()) {
                            return;
                        }

                        localStorage.setItem('currentOrder', JSON.stringify({
                            id: moment().unix(),
                            createTime: moment().format("YYYY-MM-DD hh:mm:ss"),
                            goods: this.currentOrder,
                        }));

                        location.href = 'checkout.html'
                    }
                },
            })
        </script>
    </body>
</html>
