<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
        />
        <title>SXSH</title>
        <link href="./css/quick-menu.css" rel="stylesheet" />
        <link href="./css/bootstrap.min.css" rel="stylesheet" />
        <link href="./css/font-awesome.min.css" rel="stylesheet" />
        <link href="./css/order.css" rel="stylesheet" />
        <link rel="shortcut icon" href="./img/hello.ico" type="image/x-icon" />

        <script src="./js/vue.min.js"></script>
        <script src="./js/jquery.min.js"></script>
        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/sweetalert2.all.js"></script>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"> -->
        <!-- <script src="./js/quick-menu.js"></script> -->
    </head>

    <body>
        <div class="d-flex" id="order">
            <div style="width: 20%; height: 93vh">
                <input
                    class="form-control"
                    v-model="filter.keyword"
                    @change="search"
                    placeholder="搜索"
                />

                <div class="list-group border" style="height: 94%;overflow-y: scroll;">
                    <span
                        class="list-group-item list-group-item-action"
                        v-for="(item,idx) in order"
                        :key="idx"
                        :class="{'list-group-item-info': currentOrderId == item.id}"
                        @click="currentOrderId = item.id"
                    >
                        <h5 class="mb-1 text-primary">{{item.id}}</h5>
                        <small class="font-weight-bold text-info">{{item.createTime}}</small>
                        <div>
                            共 {{getTotalCount(item.id)}} 件商品
                            <span class="text-danger">{{getTotalPrice(item.id)}}</span>&nbsp;元
                        </div>
                    </span>
                </div>
            </div>
            <div style="width: 80%; height: 93vh" class="p-1 position-relative">
                <div class="card text-center" style="max-height: 618px;overflow-y: scroll;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" :class=" {active: currentShow === 'info'}" @click="currentShow='info'">订单信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class=" {active: currentShow === 'detail'}" @click="currentShow='detail'">商品明细</a>
                    </li>
                    </ul>
                </div>
                    <table
                        v-show="currentShow === 'detail'"
                        class="table table-responsive table-striped table-bordered w-100 card-body"
                        style="white-space: nowrap; margin-bottom: 0px;"
                    >
                        <thead>
                            <tr class="table-info">
                                <th style="width: 18%" scope="col">商品条码</th>
                                <th style="width: 37%" scope="col">商品名称</th>
                                <th style="width: 8%" scope="col">规格</th>
                                <th style="width: 8%" scope="col">单价</th>
                                <th style="width: 8%" scope="col">现价</th>
                                <th style="width: 8%" scope="col">数量</th>
                                <th style="width: 10%" scope="col">小计</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(item, idx) in readCurrentOrder()"
                                :key="idx"
                            >
                                <td>{{item.sBarCode}}</td>
                                <td class="text-left">{{item.sName}}</td>
                                <td>{{item.sSpec}}</td>
                                <td class="text-danger">{{item.dPrice}}</td>
                                <td class="text-danger">{{item.dCurrentPrice}}</td>
                                <td class="text-info">{{item.iCount}}</td>
                                <td class="text-danger">
                                    {{((+item.dCurrentPrice)*(+item.iCount)).toFixed(2)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="card-body" v-show="currentShow === 'info'" >
                        <div class="d-flex">
                            <ul class="list-group list-group-sm text-left" style="width:49%">
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">订单编号</small>
                                    <small class="text-left badge badge-primary ">{{currentOrder.id}}</small>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">下单时间</small>
                                    <small class="text-left text-nowrap">{{currentOrder.createTime}}</small>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">结账时间</small>
                                    <small class="text-left text-nowrap">{{currentOrder.finishTime}}</small>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">商品种数</small>
                                    <small class="text-left text-nowrap">{{Object.keys(currentOrder.goods).length}}</small>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">商品数量</small>
                                    <small class="text-left text-nowrap">{{getTotalCount(currentOrderId)}}</small>
                                </li>
                               
                            </ul>
                            <ul class="list-group list-group-sm text-left mx-3" style="width:49%">
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">结算方式</small>
                                    <small class="text-left text-nowrap">{{payway[currentOrder.payway].label}}</small>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">商品总价</small>
                                    <small class="text-left">{{(+currentOrder.price).toFixed(2)}}</small>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">收取金额</small>
                                    <small class="text-left">{{(+currentOrder.amount).toFixed(2)}}</small>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">优惠金额</small>
                                    <small class="text-left">{{(+currentOrder.coupon).toFixed(2)}}</small>
                                </li>
                                 <li class="list-group-item d-flex align-items-center">
                                    <small style="width:60%">{{currentOrder.change < 0 ? '赊账金额' : '找零金额'}}</small>
                                    <small class="text-left">{{(+currentOrder.coupon).toFixed(2)}}</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="ticketModal" centered>
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">小票样本</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe frameborder="0" ref="ticketFrame" class="border"  style="width: 100%;height: 500px">
                            </iframe>

                            <div class="d-none">
                            <div style="width:100%;position: absolute;" class="p-1" ref="ticketContent">
                                <div class="title text-center" style="border-bottom: 2px dashed #333">
                                    <h5 style="font-size:24px">欢迎光临</h5>
                                    <h5 style="font-size:24px">蛇口盛兴商店</h5>
                                </div>
                                <div class="d-flex justify-content-between mt-2 px-2">
                                    <div style="font-size:20px" class="mb-1">流水号: </div>
                                    <div style="font-size:20px" class="mb-1">{{currentOrder.id}} </div>
                                </div>
                                <div class="d-flex justify-content-between px-2">
                                    <div style="font-size:20px" class="mb-1">交易时间: </div>
                                    <div style="font-size:20px" class="mb-1">{{currentOrder.finishTime}}</div>
                                </div>
                                
                                <table class="table w-100 table-sm mt-2 " style="font-size: 20px;border-bottom: 1px dashed #333;">
                                    <tr>
                                        <th>品名</th>
                                        <th>单价</th>
                                        <th>数量</th>
                                        <th>小计</th>
                                    </tr>
                                    <template v-for="(g, idx) in Object.values(currentOrder.goods)">
                                        <tr>
                                            <td colspan="4" class="pb-0">{{g.sName}}</td>
                                        </tr>
                                        <tr>
                                            <td style="border:none;" class="pt-0">{{g.sBarCode}}</td>
                                            <td style="border:none;" class="pt-0">{{g.dPrice}}</td>
                                            <td style="border:none;" class="pt-0">{{g.iCount}}</td>
                                            <td style="border:none;" class="pt-0">{{g.iCount * g.dPrice}}</td>
                                        </tr>
                                    </template>
                                </table>

                                <div class="d-flex mt-2 px-2">
                                    <div style="font-size:20px;width:70%" class="mb-1">应付款: ￥{{currentOrder.price.toFixed(2)}}</div>
                                    <div style="font-size:20px;width:30%" class="mb-1">总件数: {{getTotalCount()}}</div>
                                </div>
                                <div class="d-flex justify-content-between px-2" style="border-bottom: 1px dashed #333;">
                                    <div style="font-size:20px;width:70%" class="mb-1">实付款: ￥{{currentOrder.amount.toFixed(2)}}</div>
                                    <div style="font-size:20px;width:30%" class="mb-1">找零：￥{{currentOrder.change.toFixed(2)}}</div>
                                </div>

                                <p class="mt-1">
                                    请当面点清所购商品和找零，本店不支持开发票。酒店订烟配送电话: 0755-26678742
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" @click="printTicket()">打印</button>
                        </div>
                        </div>
                    </div>
                    
                </div>
              
                <div class="fixed-bottom bottom-panel position-absolute p-2">
                    <div
                        class="panel-foot border d-flex p-2 alert-info justify-content-end"
                    >
                        <div class="w-50 text-right ">
                            <button
                                type="button"
                                class="btn btn-large btn-secondary mx-2"
                                @click="showTicketModel()"
                            >
                                查看小票
                            </button>
                            <button
                                type="button"
                                class="btn btn-large btn-success mx-1"
                                @click=""
                            >
                                打印小票
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./lib/goods.js"></script>
        <script src="./lib/common.js"></script>
        <script src="./lib/quicknav.js"></script>
        <script>
            let vm = new Vue({
                el: "#order",
                data: {
                    total: {
                        kindCount: 6,
                        itemCount: 12,
                        price: 72,
                    },
                    list: [],
                    timer: 0,
                    typeList: [],
                    filter: {
                        type: "",
                        keyword: "",
                    },
                    preSelectOrder: [],
                    collapseType: false,
                    currentOrderId: 0,
                    currentShow: 'info', // detail info
                    order: [],
                    payway: {},
                    ticketContent: '',
                },
                computed: {
                    currentOrder(){
                        return this.order.find( (o) => o.id === this.currentOrderId)
                    }
                },
                created() {
                    this.payway = (this.getPayway())
                    this.loadFinishOrder()
                    this.order = this.finishOrder;
                    if (this.order.length) {
                        this.currentOrderId = this.order[0].id
                    }
                    this.list = this.goods
                },
                mounted() {
                    $('[data-toggle="tooltip"]').tooltip()
                    $(".collapse").collapse("hide")
                },
                methods: {
                    showTicketModel(){
                        this.$refs['ticketFrame'].srcdoc = '<link href="./css/bootstrap.min.css" rel="stylesheet" />'+this.$refs['ticketContent'].outerHTML
                        $('#ticketModal').modal('show')
                    },
                    printTicket(){
                       this.$refs['ticketFrame'].contentWindow.print()
                    },
                    syncUpdate(){
                        localStorage.setItem('order', JSON.stringify(this.order))
                        this.$forceUpdate()
                    },
                    showSearchModal() {
                        // Swal.fire({
                        //     html: $("#searchModal").html(),
                        //     width: 900,
                        //     padding: "0.5em",
                        //     color: "#716add",
                        //     background: "#fff ",
                        //     backdrop: `
                        //         rgba(0,0,123,0.4)
                        //     `,
                        //     showCancelButton: false,
                        //     showConfirmButton: false,
                        // })
                        $("#searchModal").modal("show")
                    },
                    showCreateModal(barcode = "") {
                        $("#createModal").modal("show")
                        $("#createModal iframe").prop(
                            "src",
                            `./create.html?barcode=${barcode}`,
                        )
                    },
                    toggleCollapse($event) {
                        $(".collapse").collapse("toggle")
                    },
                    clear() {
                        this.filter.keyword = []
                        this.list = []
                        this.$forceUpdate()
                    },
                    join(barcode) {
                        let good = this.goods.find(
                            (good) => good.sBarCode === barcode,
                        )
                        if (!good) {
                            this.showCreateModal(barcode)
                            return
                        }

                        const fetchGoods = this.goods.find(
                            (good) => good.sBarCode === barcode,
                        )
                        if (this.currentOrder[fetchGoods.sBarCode]) {
                            this.currentOrder[fetchGoods.sBarCode].iCount++
                        } else {
                            this.currentOrder[fetchGoods.sBarCode] = {
                                sBarCode: fetchGoods.sBarCode,
                                sName: fetchGoods.sName,
                                dPrice: fetchGoods.dPrice,
                                dCurrentPrice: fetchGoods.dPrice,
                                iCount: 1,
                            }
                        }

                        this.$forceUpdate()
                    },
                    getTotalPrice(id) {
                        if (!id) {
                            return 0
                        }
                        const fetchOrder = this.order.find( (o) => o.id === id)
                        return Object.values(fetchOrder.goods).reduce(
                            (sum, cur) => sum + cur.dCurrentPrice * cur.iCount,
                            0,
                        )
                    },
                    getTotalCount() {
                        return Object.values(this.currentOrder.goods).reduce(
                            (sum, cur) => sum + cur.iCount,
                            0,
                        )
                    },
                    search() {
                        this.list = this.goods
                        if (this.filter.keyword) {
                            let checkField = "sPinyin"
                            if (!isNaN(this.filter.keyword)) {
                                checkField = "sBarCode"
                            } else if (
                                /[\u4e00-\u9fa5]+/.test(this.filter.keyword)
                            ) {
                                checkField = "sName"
                            }

                            this.list = this.list.filter(
                                (g) =>
                                    g[checkField]
                                        .toLowerCase()
                                        .indexOf(this.filter.keyword) >= 0,
                            )
                        }

                        // if (this.filter.type) {
                        //     this.list = this.list.filter(
                        //         (i) => i.sType === this.filter.type,
                        //     )
                        // }
                        this.$forceUpdate()
                    },
                    async dropGoods(item) {
                        await this.toast.confirm("确定删除该商品吗", "删除确认")
                    },
                    commitCreateGoods() {
                        $("#createFrame")[0]
                            .contentDocument.documentElement.querySelector(
                                "#commitBtn",
                            )
                            .click()
                        $("#createModal").modal("hide")
                        this.loadGoods()
                    },
                    removeItem(item) {
                        const fetchOrder = this.order.find(o => o.id === this.currentOrderId)
                        delete fetchOrder.goods[item.sBarCode]
                        // 没有商品自动清除挂单
                        if (!Object.values(fetchOrder.goods).length) {
                            this.dropOrder(fetchOrder.goods.id);
                            return;
                        }
                        this.syncUpdate()
                    },
                    increseCount(item) {
                        item.iCount++
                        this.syncUpdate()
                    },
                    decreseCount(item) {
                        if (item.iCount <= 1) {
                            return
                        }
                        item.iCount--
                        this.syncUpdate()
                    },
                    dropOrder(id){
                        const idx = this.order.findIndex(o => o.id === this.currentOrderId)
                        if (idx >= 0) {
                            this.order.splice(idx, 1);
                            if (this.order.length) {
                                 this.currentOrderId = this.order[0].id
                            }
                            this.syncUpdate()
                        }
                    },
                    togglePreSelect(item) {
                        let idx = -1
                        if ((idx = this.preSelectOrder.indexOf(item)) >= 0) {
                            this.preSelectOrder.splice(idx, 1)
                        } else {
                            this.preSelectOrder.push(item)
                        }
                    },
                    joinCurrentOrder() {
                        this.preSelectOrder.forEach((item) => {
                            if (this.currentOrder[item.sBarCode]) {
                                this.currentOrder[item.sBarCode].iCount++
                            } else {
                                this.currentOrder[item.sBarCode] = {
                                    sBarCode: item.sBarCode,
                                    sName: item.sName,
                                    dPrice: item.dPrice,
                                    dCurrentPrice: item.dPrice,
                                    iCount: 1,
                                }
                            }
                        })
                        this.preSelectOrder = []
                        Swal.fire({
                            icon: "success",
                            title: "加入成功",
                            showConfirmButton: false,
                            timer: 1200,
                        })
                        $("#searchModal").modal("hide")
                    },
                    readCurrentOrder() {
                        if (this.currentOrderId) {
                            const fetchOrder = this.order.find(
                                (o) => o.id === this.currentOrderId,
                            )
                            return fetchOrder.goods
                        }
                        return []
                    },
                    attachOrder(id){
                        if (!id) {
                             Swal.fire({
                                icon: 'warning',
                                title: '请先选择左侧订单',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            return;
                        }

                        const fetchOrder = this.order.find(o => o.id === this.currentOrderId)
                        localStorage.setItem('currentOrder', JSON.stringify(fetchOrder));
                        this.dropOrder(fetchOrder.id)
                    }
                },
            })
        </script>
    </body>
</html>
