<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
        />
        <title>SXSH</title>
        <link href="./css/quick-menu.css" rel="stylesheet" />
        <link href="./css/bootstrap.min.css" rel="stylesheet" />
        <link href="./css/font-awesome.min.css" rel="stylesheet" />
        <link rel="shortcut icon" href="./img/hello.ico" type="image/x-icon" />

        <script src="./js/vue.min.js"></script>
        <script src="./js/jquery.min.js"></script>
        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/sweetalert2.all.js"></script>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"> -->
        <!-- <script src="./js/quick-menu.js"></script> -->
    </head>

    <body>
        <div class="container-fluid" id="app">
            <div class="input-group mb-3 mt-3">
                <input
                    class="form-control"
                    @change="search"
                    v-model="filter.keyword"
                    @focus="filter.keyword=''"
                    @input="() => debounce(search, 1)"
                    @keypress.enter="search"
                />
                <div class="input-group-append">
                    <!-- <button class="btn btn-info" @click="search">查询</button> -->
                    <button class="btn btn-danger" @click="toggleCollapse">
                        筛查
                    </button>
                </div>
            </div>

            <ul class="nav nav-pills border p-1 collapse">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        :class="{active: filter.type === ''}"
                        @click="filter.type = '';search()"
                    >
                        所有
                    </a>
                </li>
                <li class="nav-item" v-for="(typeLabel, idx) in typeList">
                    <a
                        class="nav-link"
                        :class="{active: filter.type === typeLabel}"
                        @click="filter.type = typeLabel;search()"
                        >{{typeLabel}}</a
                    >
                </li>
            </ul>

            <table
                class="table table-responsive table-striped w-100 mt-2"
                style="white-space: nowrap"
            >
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 100px" scope="col">价格</th>
                        <th style="width: 120px" scope="col">名称</th>
                        <th style="width: 100px" scope="col">规格</th>
                        <th style="width: 100px" scope="col">条码</th>
                        <th style="width: 100px" scope="col">拼音</th>
                        <th style="width: 100px" scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, idx) in list" :key="idx">
                        <td class="text-danger">{{item.dPrice}}</td>
                        <td v-html="wrapTooltip(item.sName)"></td>
                        <td>{{item.sSpec}}</td>
                        <td>{{item.sBarCode}}</td>
                        <td>{{item.sPinyin}}</td>
                        <td>
                            <span class="btn-link">编辑</span>
                            <i class="bi bi-trash"></i>
                            <span
                                class="btn-link mr-2 trash"
                                @click="dropGoods(item)"
                                >删除</span
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="./lib/goods.js"></script>
        <script src="./lib/common.js"></script>
        <script src="./lib/quicknav.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    list: [],
                    timer: 0,
                    typeList: [],
                    filter: {
                        type: '',
                        keyword: '',
                    },
                    collapseType: false,
                },
                created() {
                    let barcode = ''
                    document.body.addEventListener('keydown', (e) => {
                        if (document.activeElement.tagName !== 'INPUT') {
                            if (!this.timer) {
                                barcode = ''
                            }

                            if (e.key.length === 1) {
                                barcode += e.key
                            }

                            this.timer = this.debounce(() => {
                                this.filter.keyword = barcode
                                this.timer = 0

                                if (e.key === 'Enter') {
                                    this.search()
                                }
                            }, this.timer)
                        }
                    })
                    this.loadGoods()
                    this.list = this.goods
                    this.typeList = this.getTypeList()

                    const max = this.goods.reduce(
                        (acc, good) => Math.max(acc, good.sName.length),
                        0,
                    )

                    // const max = this.goods.reduce((max, good) => {
                    //     console.log(max, good.sName.length);
                    //     if (good.sName.length > max) {
                    //         return good.sName.length;
                    //     }
                    // }, 0);
                    console.log(max)
                },
                mounted() {
                    $('[data-toggle="tooltip"]').tooltip()
                    $('.collapse').collapse('hide')
                },
                methods: {
                    toggleCollapse($event) {
                        $('.collapse').collapse('toggle')
                    },
                    wrapTooltip(text) {
                        if (text.length > 20) {
                            return `<span data-toggle="tooltip" data-placement="top" title="${text}" trigger="click">${text.substr(
                                0,
                                20,
                            )}</span >`
                        }
                        return text
                    },
                    clear() {
                        this.filter.keyword = []
                        this.list = []
                        this.$forceUpdate()
                    },
                    search() {
                        this.list = this.goods

                        if (this.filter.keyword) {
                            let checkField = 'sPinyin'
                            if (!isNaN(this.filter.keyword)) {
                                checkField = 'sBarCode'
                            } else if (
                                /[\u4e00-\u9fa5]+/.test(this.filter.keyword)
                            ) {
                                checkField = 'sName'
                            }

                            this.list = this.list.filter(
                                (g) =>
                                    g[checkField]
                                        .toLowerCase()
                                        .indexOf(this.filter.keyword) >= 0,
                            )
                        }

                        if (this.filter.type) {
                            this.list = this.list.filter(
                                (i) => i.sType === this.filter.type,
                            )
                        }

                        this.$forceUpdate()
                    },
                    async dropGoods(item) {
                        let res = await Swal.fire({
                            title: `<strong>确定删除【${item.sName}】商品吗 ? </strong>`,
                            icon: 'question',
                            showCancelButton: true,
                            cancelButtonText: '取消',
                            confirmButtonText: '确认',
                        })

                        if (res.isConfirmed) {
                            let idx = this.goods.findIndex(g => g.sBarCode === item.sBarCode)
                            this.goods.splice(idx, 1);
                            this.search()
                            localStorage.setItem('goods', JSON.stringify(this.goods))
                            Swal.fire({
                                icon: 'success',
                                title: '删除成功',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    },
                },
            })
        </script>
    </body>
</html>
